<header>
    <h1>Movies</h1>
    <form class="search" action="/movies" method="GET">
        <input class="searchBar" type="text" placeholder="Search movies..." name = "movName">
        <button><i class="searchButton" >Search</i></button>
    </form>
</header>